@foreach (var data in MultiLanguage.Functions.GetUrlsAndLanguages(Model.Id))
{
    if (string.IsNullOrEmpty(data.Url))
    {
    <strong>
        <img src="@Href("~/css/MultiLanguage/flags/"+data.CountryCode+".png")" alt="@data.NativeName" title="@data.NativeName"/></strong>
    }
    else
    {
    <a href="@data.Url">
        <img src="@Href("~/css/MultiLanguage/flags/"+data.CountryCode+".png")" alt="@data.NativeName" title="@data.NativeName"/></a>
    }
}