@using Logic.Helpers;

@inherits UmbracoTemplatePage
@{
    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
    var homePage = CurrentPage.AncestorsOrSelf(1).First();

    var allChildren = homePage.Descendants().Where("featuredPage");
}
<!-- Features -->
<section class="is-features">
    @*<h2 class="major"><span>@Umbraco.GetDictionaryValue("FeaturedArticlesTitle")</span></h2>*@
    <div>
        <div class="row">
            @foreach (var feature in allChildren)
            {
                <div class="3u">
                    <!-- Feature -->
                    <section class="is-feature">
                        @if (!string.IsNullOrWhiteSpace(feature.Image))
                        {
                            <a href="@feature.Url" class="image image-full"><img src="@feature.Image" alt="" /></a>
                        }
                        <h3><a href="@feature.Url">@feature.Title</a></h3>
                        <span class="byline">
                            @Html.GetInnerText(string.IsNullOrWhiteSpace(feature.SubHeader) ?
                                (HtmlString)feature.BodyText : new HtmlString(feature.SubHeader), 100)
                        </span>
                    </section>
                    <!-- /Feature -->
                </div>
            }
        </div>
    </div>
</section>
<!-- /Features -->