@using System.Linq.Expressions
@using ApplicationType = Logic.Models.WorkShopFirstDayApplication;

@model ApplicationType

@functions
{
    private delegate MvcHtmlString EditorDelegate<TModel, TValue>(Expression<Func<TModel, TValue>> expression);

    HelperResult PersonalData<T>(Expression<Func<ApplicationType, T>> expression, EditorDelegate<ApplicationType, T> editor)
    {
        return PersonalDataHelper(Html.LabelFor(expression), Html.ValidationMessageFor(expression), editor(expression));
    }
}

@helper PersonalDataHelper(MvcHtmlString labelString, MvcHtmlString validationString, MvcHtmlString editorString)
{
    <div class="row">
        <div class="3u">
            @labelString
        </div>
        <div class="9u">
            @editorString
            @validationString
        </div>
    </div>
}

@helper MotivationDataHelper(MvcHtmlString labelString, MvcHtmlString validationString, MvcHtmlString editorString)
{
    <div class="row">
        <div class="4u">
            @labelString
        </div>
        <div class="8u">
            @editorString
            @validationString
        </div>
    </div>
}

@if (ViewData["Applications count limit exceeded"] != null)
{
    <p>
        <strong>@Html.Localize("WorkShopFirstDayApplicationLimitExceeded")</strong>
    </p>
}
else if (TempData["Application received"] != null)
{
    var number = TempData["Applicant number"];
    <p>
        <strong>@Html.Localize("WorkShopFirstDayApplicationReceived", number)</strong>
    </p>
}
else
{
    using (Html.BeginUmbracoForm<WorkShopFirstDayApplicationController>("Send"))
    {
        if (!ViewData.ModelState.IsValid)
        {
            <p class="workshop-application-errors">
                @Html.Localize("WorkShopApplicationErrors")
            </p>
        }
        <section class="workshop-application-section">
            <h3>
                <span>@Html.Localize("WorkShopApplicationPersonalData")</span>
            </h3>

            @PersonalData(model => model.Name, Html.EditorFor)
            @PersonalData(model => model.Surname, Html.EditorFor)
            @PersonalData(model => model.Email, Html.EditorFor)
            @PersonalData(model => model.Phone, Html.EditorFor)
            @PersonalData(model => model.Profession, Html.EditorFor)
        </section>

        <section class="workshop-application-section">
            <div class="row">
                <div class="1u">
                    @Html.EditorFor(model => model.ProcessData)
                </div>
                <div class="11u noPadding">
                    @Html.LabelFor(model => model.ProcessData)
                    @Html.ValidationMessageFor(model => model.ProcessData)
                </div>
            </div>
        </section>

        <a class="button" href="#" onclick="$(this).closest('form').submit()">@Html.Localize("WorkShopApplicationSubmit")</a>
    }
}