@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";

    // If the editor has not explicitly provided the "Page title" property page
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;

    var humanInfoItems = CurrentPage.umbHumanInfos;
    const int itemsPerRow = 4;
}

@helper RenderRow(dynamic humanInfos)
{
    <div class="row">
        @foreach (var item in humanInfos)
        {
            // If the editor has not explicitly provided the "Page title" property page
            // then just show the name of the page otherwise show the provided title
            var title = string.IsNullOrWhiteSpace(item.Title)
                ? item.Name
                : item.Title;

            <div class="3u">
                <section class="human-overview-section">
                    @if (string.IsNullOrWhiteSpace(item.Image) == false)
                    {
                        <a href="@item.Url" class="image image-full"><img src="@item.Image" alt="" /></a>
                    }
                    <h3><a href="@item.Url">@title</a></h3>
                    @item.Occupation
                </section>
            </div>
        }
    </div>
}

<!-- Main -->
<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">
            @*<div class="12u skel-cell-mainContent">*@
            <!-- Content -->
            <article class="is-page-content">
                <header>
                    <h2>@pageTitle</h2>
                </header>
                
                <!--Render each itemsPerRow items in row-->
                @for (int i = 0; i < (humanInfoItems.Count() + itemsPerRow - 1) / itemsPerRow; i++)
                {
                    @RenderRow(humanInfoItems.Skip(i * itemsPerRow).Take(itemsPerRow))
                }
            </article>
            <!-- /Content -->

        </div>
        @* Don't display this overview*@
        @*<div class="row">
                <div class="12u">
                    @{ Html.RenderPartial("umbFeatures"); }
                </div>
            </div>*@
    </div>
</div>
<!-- /Main -->